.DS_Store
**/.DS_Store
.dart_tool/
pubspec.lock

feed.ics
*.ics

scripts/
chrome_state.json

lib/src/events
lib/src/events/
test/events_test.dart

lib/src/absences
lib/src/absences/
test/absences_test.dart
*roster*